body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    font-family: 'Russo One', sans-serif;
    background-color: beige;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(27,27,27);
    background: linear-gradient(90deg, rgba(27,27,27,1) 0%,
     rgba(59,59,59,1) 99%);
    width: 25vw;
    height: 48vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 1em;
    border: solid black 0.1em;
}

.inner-frame {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 23vw;
    height: 45vh;
    border: solid black 0.3em;
    border-radius: 0.6em;
    background-color: #606060;
    padding-top: 0.8em;
}


#display {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20vw;
    height: 6vh;
    border: solid black 0.2em;
    border-radius: 0.2em;
    color: #A50000;
    font-weight: 900;
    font-size: 1.8em;
    padding-top: 0.1vh;
    padding-bottom: 0.1vh;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,88,93,1) 36%,
    rgba(10,60,90,1) 61%, rgba(7,23,93,1) 93%);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: auto;
    height: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    border-radius: 0.5em;
}

.button {
    height: 8vh;
    width: 5vw;
    background-color: #2E2D2D;
    margin: 0.2em;
    border: 0.2em black solid;
    border-radius: 1em;
    font-weight: 900;
    font-size: 1.2em;
    color: azure;
    box-shadow: 0 0.1em #111111;
    font-family: 'Russo One', sans-serif;
}

.button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.button:active {
    transform: translateY(2px);
    box-shadow: none;
}

#clear-button {
    background-color: #5F0000;
}

.number:hover {
    background-color: #9A9A9A;
    color: #080808;
}

#clear-button:hover {
    background: rgb(223,28,32);
    background: radial-gradient(circle, rgba(223,28,32,1) 0%,
     rgba(59,0,0,1) 99%);
}

.operator:hover {
    background: rgb(81,248,255);
    background: radial-gradient(circle, rgba(81,248,255,1) 0%,
    rgba(38,104,233,1) 99%);
}

#equals-button:hover {
    background: rgb(149,255,125);
    background: radial-gradient(circle, rgba(149,255,125,1) 0%,
     rgba(0,59,20,1) 99%);
}